.navigation-bottom {
  height: 1em;
  margin-top: 5px;
  margin-bottom: 15px;
}

.navigation-top {
  height: 1em;
  margin: 0px;
  padding-top: 1em;
}

.navigation-bottom p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation-top p {
  margin-top: 0px;
  margin-bottom: 0px;
}